certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
grab==0.6.40
idna==2.6
lxml==4.9.1
pycurl==7.43.0.1
pytils==0.3
requests==2.20.0
selection==0.0.13
six==1.11.0
urllib3==1.26.5
user-agent==0.1.9
weblib==0.1.29
